.form-turno {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-turno h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-turno label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.form-turno input,
.form-turno select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-turno button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-turno button:hover {
  background-color: #0056b3;
}

.horarios-list {
  list-style: none;
}

.horarios-list-item {
  display: flex;
  justify-content:initial;
}

.right-section {
  margin-left: 1rem;
}

.react-datepicker button{
  margin-top: 0;
  padding: 0;
  width: 10%;
  background-color: #4fa4ff00;
  font-size: 0;
}

.react-datepicker button:hover{
  background-color: #4fa4ff00;
}


.react-datepicker__navigation-icon {
  position: relative;
  top: -10px;
  font-size: 20px;
  width: 0;
}

.react-datepicker h2{
  margin-bottom: 0;
}

.react-datepicker {
  font-size: 0.8em;
}
.react-datepicker__header {
  padding-top: 0.64em;
}
.react-datepicker__month {
  margin: 0.32em 0.8em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.52em;
  line-height: 1.52em;
  margin: 0.133em;
}
.react-datepicker__current-month {
  font-size: 0.8em;
}
.react-datepicker__navigation {
  top: 0.8em;
  line-height: 1.36em;
  border: 0.36em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 0.8em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 0.8em;
}