body {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #f0f4f8;
  padding: 20px;
  text-align: center;
}
.home, .login {
  text-align: center;
  margin-top: 0;
}
header{ 
  margin: 0;
  padding: '1rem';
  textAlign: 'left';
  background-color: #032B44;
  color: white
}
button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #032B44;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #17508d;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.slogan{
  font-style: italic;
}