body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.home, .login {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

slogan{
  font-style: italic;
}